body {
    padding: 0;
    margin: 0;
    font-family: helvetica;
}

button {
    cursor: pointer;
    font-size: 100%;
}

h1 {
    font-size: 2.5rem;
}

#restart {
    display: inline-block;
    margin: 0 20px;
}

#score {
    display: inline-block;
}

#headerContent {
    float: right;
}

#playHeader {
    height: 40px;
    padding: 20px;
    background-color: black;
    color: white;
}

.highlight {
    background-color: yellow;
}

.playStep {
    display: none;
}

.padded {
    min-height: 80vh;
    padding: 10px;
    max-width: 1000px;
    margin: 60px auto;
}

#playArea {
    padding: 10px;
    max-width: 800px;
    margin: 20px auto;
}

