body {
    padding: 0;
    margin: 0;
    font-family: helvetica;
}

#restart {
    display: inline-block;
    margin: 0 20px;
}

#score {
    display: inline-block;
}

#playHeader {
    padding: 20px;
    background-color: black;
    color: white;
}

.highlight {
    background-color: yellow;
}

#playArea {
    padding: 10px;
    max-width: 800px;
    margin: 20px auto;
}
