button {
    min-width: 150px;
    height: 40px;
    background-color: #5000d3;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 20px 0;
}

body {
    background-color: #b2ccf7;
}
